<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JspDatabase</display-name>
  
  
  <servlet>
<display-name>showWelcomePage</display-name>
<servlet-name>showWelcomePage</servlet-name>
<jsp-file>/jsp/WelcomePage.jsp</jsp-file>
</servlet>
  
  
  
  	<servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginsubmit</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
		<description>
		</description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>
		com.view.WelcomeServlet</servlet-class>
	</servlet>
	
  
  <servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
  
  
  <welcome-file-list>
     <welcome-file>welcome</welcome-file>
 </welcome-file-list>
</web-app>